---
layout: layout.liquid
title: Home
---

<section class = "grid">
    <div class = "card Sun">
        <div class = "celestialBody Sun"></div>
        <h2>Sun</h2>
        <h3>Type G2V</h3>
    </div>
    <div class = "card Mercury">
        <div class = "celestialBody Mercury"></div>
        <h2>Mercury</h2>
        <h3>0.4 AU</h3>
    </div>
    <div class = "card Venus">
        <div class = "celestialBody Venus"></div>
        <h2>Venus</h2>
        <h3>0.723 AU</h3>
    </div>
    <div class = "card Earth">
        <div class = "celestialBody Earth"></div>
        <h2>Earth</h2>
        <h3>1 AU</h3>
    </div>
    <div class = "card Mars">
        <div class = "celestialBody Mars"></div>
        <h2>Mars</h2>
        <h3>1.52 AU</h3>
    </div>
    <div class = "card Jupiter">
        <div class = "celestialBody Jupiter"></div>
        <h2>Jupiter</h2>
        <h3>5.2 AU</h3>
    </div>
    <div class = "card Saturn">
        <div class = "celestialBody Saturn"></div>
        <h2>Saturn</h2>
        <h3>9.6 AU</h3>
    </div>
    <div class = "card Uranus">
        <div class = "celestialBody Uranus"></div>
        <h2>Uranus</h2>
        <h3>19.8 AU</h3>
    </div>
    <div class = "card Neptune">
        <div class = "celestialBody Neptune"></div>
        <h2>Neptune</h2>
        <h3>30 AU</h3>
    </div>
</section>
