body {
    font-family: Helvetica, sans-serif;
    color: rgb(235, 235, 235);
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}


h1 {
    font-size: 6em;
    letter-spacing: -2px;
}

.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 150px);
    grid-auto-rows: 200px;
    gap: 20px;
}
.card.Sun{
    grid-column: 1/3;
    grid-row: 1/3;
}
.card h2{
    font-size: 1.5em;
    color: black;
    margin-top: 10%;
}

.card h3{
    font-size: 1em;
    color: black;
    margin-top: -10px;
}
.card{
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.card:hover{
    background-color: rgb(190, 190, 190);
}
.celestialBody{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100px;
    margin-top: 10%;
    margin-left: 25px;
}
.card.Sun h2{
    font-size: 2.5em;
    color: black;
    margin-top: 10%;
}
.card.Sun h3{
    font-size: 1.5em;
    color: black;
    margin-top: -10px;
}
.celestialBody.Sun{
    width: 200px;
    height: 200px;
    background: radial-gradient(white 0%, yellow 20%, orange 90%);
    border-radius: 100px;
    margin-top: 10%;
    margin-left: 20%;
}
.celestialBody.Mercury{
    background: radial-gradient(rgb(71, 45, 0)20%, rgb(164, 130, 37)60%);
    background-position-y: 1em;
    background-position-x: .5em;
}
.celestialBody.Venus{
    background: linear-gradient(30deg, red 10%, orange 20%, red 30%,orange,red, orange, red);
}
.celestialBody.Earth{
    background: radial-gradient(green 20%, rgb(5, 5, 129)60% );
    background-position-y: -1em;
}
.celestialBody.Mars{
    background: radial-gradient(rgb(103, 37, 1) 30%, rgb(163, 7, 7)50% );
    background-position-y: -3em;
}
.celestialBody.Jupiter{
    background: linear-gradient(-20deg, rgb(137, 102, 90) 15%, orange 30% , rgb(202, 202, 202)50% ,orange 65%,  rgb(137, 102, 90)80%);
}
.celestialBody.Saturn{
    background: linear-gradient(10deg, rgb(214, 188, 140)20%, rgb(234, 185, 6),rgb(214, 188, 140),rgb(234, 185, 6), rgb(214, 188, 140)80%);
}
.celestialBody.Uranus{
    background: radial-gradient(rgb(208, 224, 237), rgb(156, 202, 231));
}
.celestialBody.Neptune{
    background: radial-gradient(rgb(139, 139, 243), rgb(64, 64, 174)50%);
}
